### Exports
#export(coherentSystemsOfOrder)
#export(coherentNetworksOfOrder)

export(createSystem)
export(setCompTypes)

export(computeSystemSignature)
export(computeNetworkSignature)

export(computeSystemSurvivalSignature)

export(nonParBayesSystemInference)
export(nonParBayesSystemInferencePriorSets)

export(expectedSystemLifetimeExp)
export(expectedNetworkLifetimeExp)
export(expectedSignatureLifetimeExp)

export(maskedInferenceIIDCustom)
export(maskedInferenceIIDExponential)
#export(maskedInferenceIIDPhaseType)

export(maskedInferenceEXCHCustom)
export(maskedInferenceEXCHExponential)
#export(maskedInferenceEXCHPhaseType)

export(simulateSystem)

export(systemGraphToGenerator)

### Imports
importFrom(sfsmisc, digitsBase)
importFrom(combinat, permn)
importFrom(FRACTION, gcd)
importFrom(mcmc, metrop)
import(PhaseType)
importFrom(actuar, rphtype)
importFrom(actuar, pphtype)
importFrom(actuar, dphtype)
import(igraph)
importFrom(stats, dbinom, dexp, na.omit, optim, pexp, rexp, rgamma, rnorm, runif)
importFrom(parallel, mclapply, detectCores)
importFrom(utils, hasName)
